@model shopaoquan.Models.ModerProduct

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayput.cshtml";
}
@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6 text-danger text-uppercase">
                    <strong>Tao sản phẩm mới</strong>
                </div>
                <div class="col-6 text-right">
                    <a href="@Url.Action("Index","Product")" class="btn btn-sn btn-success">Quay về quản lý</a>
                    <button type="submit" class="btn btn-info"  value="Create" btn-sm>Lưu [thêm]</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Metakey, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Metakey, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Metakey, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Metadesc, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Metadesc, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Metadesc, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Detail, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Detail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" style=" width: 522px; margin-left: 15px; margin-top: 24px;">
                    @Html.DropDownListFor(model => model.Catid, (SelectList)ViewBag.ListCatid, "[Loại sản phẩm]", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Catid, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-5">

                <div class="form-group">
                   
                    <div class="col-md-10" style="display:none">
                        @Html.EditorFor(model => model.Slug, "", new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>

                <div class="form-group">
                    <label>Chọn Hình(<span class="text-danger">*</span>)</label>
                    <input type="file"  name="Img" class="" />
                    @Html.ValidationMessage("HINHANH")
                </div>



                <div class="form-group">
                    <label>Sô Lượng sản phẩm(<span class="text-danger">*</span>)</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.number, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.number, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label>Giá cả(<span class="text-danger">*</span>)</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label>Giá đã giảm(<span class="text-danger">*</span>)</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PriceSale, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PriceSale, "", new { @class = "text-danger" })
                    </div>
                </div>
               
                    <div class="col-md-10" style="display:none">
                        @Html.EditorFor(model => model.Created_at, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Created_at, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-10" style="display:none">
                        @Html.EditorFor(model => model.Create_by, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Create_by, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-10" style="display:none">
                        @Html.EditorFor(model => model.Update_at, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Update_at, "", new { @class = "text-danger" })
                    </div>
 
                    <div class="col-md-10" style="display:none">
                        @Html.EditorFor(model => model.Update_by, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Update_by, "", new { @class = "text-danger" })
                    </div>

                <div class="form-group" style=" width: 357px; margin-left: 15px; margin-top: 24px;">
                    <label>Trạng thái(<span class="text-danger">*</span>)</label>
                    @Html.DropDownListFor(model => model.Status, new[] { new SelectListItem { Text = "Xuất bản", Value = "1" }, new SelectListItem { Text = "Chưa xuất bản", Value = "2" } }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

