@model shopaoquan.Models.ModelUser

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayput.cshtml";
}

<h2>Tao User</h2>
@using (Html.BeginForm("Create", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6 text-danger text-uppercase">
                    <strong>Thêm loại sản phẩm</strong>
                </div>
                <div class="col-6 text-right">
                    <a href="@Url.Action("Index","User")" class="btn btn-sn btn-success">Quay về quản lý</a>
                    <button type="submit" class="btn btn-info" btn-sm>Lưu [thêm]</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label><strong>tên đầy đủ(<span class="text-danger">*</span>)</strong></label>
                        @Html.EditorFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Fullname, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label><strong>Tài khoản(<span class="text-danger">*</span>)</strong></label>
                        @Html.TextAreaFor(model => model.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label><strong>Mật khẩu(<span class="text-danger">*</span>)</strong></label>
                        @Html.TextAreaFor(model => model.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label><strong>Email(<span class="text-danger">*</span>)</strong></label>
                        @Html.TextAreaFor(model => model.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label><strong>Số điện thoại(<span class="text-danger">*</span>)</strong></label>
                        @Html.TextAreaFor(model => model.Phone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label><strong>Mô Gender(<span class="text-danger">*</span>)</strong></label>
                        @Html.TextAreaFor(model => model.Gender, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label><strong>Access(<span class="text-danger">*</span>)</strong></label>
                        @Html.TextAreaFor(model => model.Access, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Access, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label><strong>Trạng thái(<span class="text-danger">*</span>)</strong></label>
                        @Html.DropDownListFor(model => model.Status, new[] { new SelectListItem { Text = "Xuất bản", Value = "1" }, new SelectListItem { Text = "Chưa xuất bản", Value = "2" } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </div>
    </div>
}

