@model shopaoquan.Models.ModelMenu

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayput.cshtml";
}

<h2>Create</h2>
@using (Html.BeginForm("Create", "Menu", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6 text-danger text-uppercase">
                    <strong>Thêm Danh mục</strong>
                </div>
                <div class="col-6 text-right">
                    <a href="@Url.Action("Index","Menu")" class="btn btn-sn btn-success">Quay về quản lý</a>
                    <button type="submit" class="btn btn-info" btn-sm>Lưu [thêm]</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label><strong>Tên loại danh muc(<span class="text-danger">*</span>)</strong></label>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label><strong>Link(<span class="text-danger">*</span>)</strong></label>
                        @Html.TextAreaFor(model => model.Link, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label><strong>Loai(<span class="text-danger">*</span>)</strong></label>
                        @Html.TextAreaFor(model => model.Type, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label><strong>tableid(<span class="text-danger">*</span>)</strong></label>
                        @Html.EditorFor(model => model.Tableid, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Tableid, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label><strong>vi trí(<span class="text-danger">*</span>)</strong></label>
                        @Html.TextAreaFor(model => model.Position,new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label><strong>Cha(<span class="text-danger">*</span>)</strong></label>
                        @Html.DropDownListFor(model => model.Parenid, (List<SelectListItem>) ViewBag.Listmenu, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Parenid, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label><strong>Trạng thái(<span class="text-danger">*</span>)</strong></label>
                        @Html.DropDownListFor(model => model.Status, new[] { new SelectListItem { Text = "Xuất bản", Value = "1" }, new SelectListItem { Text = "Chưa xuất bản", Value = "2" } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </div>
    </div>
}



















